{% extends "base.html" %}
    
{% block body %}
<div class=form>
    <form id="event-form" method="post" action="">
    <label>Enter the wca competition url</label> 
    <br>
            <input type="text" name='url'></input><br>
            </br>
<label>Select the mode you want to rank the competitors on </label>
<br>
<select name="mode" form="event-form">
    <option value="pb" >By PB on the event specified</option>
    <option value="average_of_last_comp_averages" >By the average of all of the averages in the last competition </option>
</select>
<br></br>
<label class=event-form>Select the event you want to rank the competitors</label>
<br>
<select name="event" form="event-form">
  <option value="333" >3x3x3</option>
  <option value="222">2x2x2</option>
  <option value="444">4x4x4</option>
  <option value="555" >5x5x5</option>
  <option value="666">6x6x6</option>
  <option value="777">7x7x7</option>
  <option value="333bf">3x3x3 Blindfolded</option>
  <option value="333fm">3x3x3 FMC</option>
  <option value="333oh">3x3x3 OH</option>
  <option value="clock">Clock</option>
  <option value="minx">Megaminx</option>
  <option value="pyram">Pyraminx</option>
  <option value="skewb">Skewb</option>
  <option value="sq-1">Square-1</option>
  <option value="444bf">4x4x4 Blindfolded</option>
  <option value="555bf">5x5x5 Blindfolded</option>
  <option value="333mbf">3x3x3 Multiblind</option>
</select>
<br />
<br></br>
<label class=event-form>Select the format you want to rank the competitors on</label>
<br>
<select name="format" form="event-form">
  <option value="single">Single</option>
  <option value="avg">Average</option>
</select>
<br></br>
    <input type="submit" value="Go!"> </input>
        </form>
    </div>

<div class=div-table>
<table>
   <tr>
       <th class=th-ranking>Estimated position in event</th>
    <th class=th-name>Name</th>
    <th class=th-pb>Result according to the mode specified<th>
   </tr> 
   {% for user in users %}
    <tr>
        <th class=th-ranking>{{ user["ranking"] }}</th>
        <th class=th-name>{{ user["name"] }}</th>
        <th class=th-pb>{{ user["result"] }}</th>

    </tr>

   {% endfor %}

</table>
{% endblock %}




