{% extends "base.html" %}
    
{% block body %}
<div class=form>
    <form id="event-form" method="post" action="">
    <label>Enter the wca competition url</label> 
    <br>
    <input type="text" value="{{ url }}" name='url'></input><br>
            </br>

<label class=event-form>Select the event you want to rank the competitors</label>
<br>
<select name="event" form="event-form">
    <option value="333" {% if event == "333" %} selected {% endif %}>3x3x3</option>
  <option value="222" {% if event == "222" %} selected {% endif %}>2x2x2</option>
  <option value="444" {% if event == "444" %} selected {% endif %}>4x4x4</option>
  <option value="555" {% if event == "555" %} selected {% endif %}>5x5x5</option>
  <option value="666" {% if event == "666" %} selected {% endif %}>6x6x6</option>
  <option value="777" {% if event == "777" %} selected {% endif %}>7x7x7</option>
  <option value="333bf" {% if event == "333bf" %} selected {% endif %}>3x3x3 Blindfolded</option>
  <option value="333fm" {% if event == "333fm" %} selected {% endif %}>3x3x3 FMC</option>
  <option value="333oh" {% if event == "333oh" %} selected {% endif %}>3x3x3 OH</option>
  <option value="clock" {% if event == "clock" %} selected {% endif %}>Clock</option>
  <option value="minx" {% if event == "minx" %} selected {% endif %}>Megaminx</option>
  <option value="pyram" {% if event == "pyram" %} selected {% endif %}>Pyraminx</option>
  <option value="skewb" {% if event == "skewb" %} selected {% endif %}>Skewb</option>
  <option value="sq-1" {% if event == "sq-1" %} selected {% endif %}>Square-1</option>
  <option value="444bf" {% if event == "444bf" %} selected {% endif %}>4x4x4 Blindfolded</option>
  <option value="555bf" {% if event == "555bf" %} selected {% endif %}>5x5x5 Blindfolded</option>
  <option value="333mbf" {% if event == "333mbf" %} selected {% endif %}>3x3x3 Multiblind</option>
</select>
<br />
<br></br>
<label class=event-form>Select the format you want to rank the competitors on</label>
<br>
<select name="format" form="event-form">
  <option value="single" {% if format == "single" %} selected {% endif %}>Single</option>
  <option value="avg" {% if format == "avg" %} selected {% endif %}>Average</option>
</select>
<br></br>
<input  type="submit" value="Go!"></input>
        </form>
    </div>

<div class=div-table>
<table id="table-id">
   <tr>
       <th class=th-ranking>Ranking</th>
    <th class=th-name>Name</th>
    <th   class=th-pb>
        <button id="buttonLeft" class="image-button" type="button"><img class="img-arrow" src="/static/arrow-left.png" alt=""> </button>
        <b id=mode-describer>{{mode_text}}</b>
        <button id="buttonRight" class="image-button" type="button"><img class="img-arrow" src="/static/arrow-right.png" alt=""></button>
            </th>
            <th></th>
   </tr> 
   {% for user in pb_users %}
    <tr>
        <th class=th-ranking>{{ user["ranking"] }}</th>
        <th class=th-name>{{ user["name"] }}</th>
        <th class=th-pb>{{ user["result"] }}</th>
    </tr>

   {% endfor %}

</table>

<p id="jsonified_pb_users" hidden> {{ jsonified_pb_users }}
<p id="jsonified_smart_prediction_users" hidden> {{ jsonified_smart_prediction_users }}
<p hidden id="mode_p">{{mode}}</p>
{% endblock %}




