* {
  margin: 0;
  padding: 0;
  --text: #feeeec;
  --background: #000000;
  --primary: #28cae6;
  --secondary: #031330;
  --accent: #0cf3a2;
}
body {
  text-align: center;
  background-color: var(--background);
}
go-submit {
  color: black;
}
div.title-box {
  padding-top: 30px;
  background-color: var(--primary);
  color: dark-gray;
  padding-bottom: 0px;
}
div.title-text {
  padding-bottom: 30px;
  font-size: 20px;
  color: white;
}
div.form {
  background-color: var(--secondary);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

div.form label {
  font-size: 18px;
}
div.form input {
  width: 40%;
  padding: 5px;
}
input[type="submit"] {
  border: 0px;
  color: white;
  text-shadow: 0.1px 1px black;
  font-size: 40px;
  background-color: var(--accent);
}
input[type="submit"]:hover {
  transform: scale(1.05);
}
input[type="submit"]:active {
  transform: scale(0.95);
}
div.form select {
  width: 40%;
  padding: 5px;
}
table,
td,
th {
  border-collapse: collapse;
  border: 1px solid;
  border-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

th {
  font-size: 20px;
  color: var(--text);
}
th.th-ranking {
  width: 10%;
}
th.th-name {
  width: 60%;
}
img.img-arrow {
  width: 25px;
  height: 15px;
}
button.image-button {
  /* background-color: transparent; */
  background-color: var(--accent);
  border: 0px;
  margin-top: 5px;
  padding-top: 3px;
  display: inline-block;
}
button.image-button:hover {
  transform: scale(1.1);
}
button.image-button:active {
  transform: scale(0.9);
}
#mode-describer {
  display: inline;
}
